@use '../../styles/breakpoints' as mix;

.animals {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(172, 68, 68, 0.399);
  padding: 5px;
  margin: 10px;
  width: 90%;
  border-radius: 20px;
  &__imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    max-height: 180px;
    border-radius: 20px;
    &--text {
      text-align: center;
      position: absolute;
      font-size: 1rem;
      font-weight: bolder;
      color: rgb(255, 255, 255);
      background-color: black;
      border-radius: 15px;
      top: 230px;
      //transform: translate(-50%, -50%);
      padding: 5px;
    }
  }
  &__desc {
    padding: 5px;
  }
  &__btn {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: black;
      color: white;
    }
    &--fed {
      background-color: rgba(255, 0, 0, 0.527);
    }
  }
  @include mix.tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 33%;
    &__imgContainer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      max-height: 180px;
    }
  }
}

.animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(172, 68, 68, 0.399);
  padding: 10px;
  margin: 5px;
  width: 90%;
  border-radius: 20px;
  &__infoContainer {
    display: flex;
    flex-direction: column;
  }

  &__imgContainer {
    width: 100%;
    height: auto;
  }
  &__img {
    width: 100%;
    border-radius: 20px;
  }
  &__info {
    margin: 6px;
    padding-left: 10px;
    width: auto;
    border: 3px solid black;
    border-radius: 20px;
  }
  @include mix.tablet {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 60%;
    background-color: rgba(172, 68, 68, 0.399);
    padding: 20px;
    border-radius: 20px;
    &__infoContainer {
      flex-direction: row;
    }

    &__imgContainer {
      padding: 5px;
      width: 50%;
      height: auto;
    }
    &__img {
      width: 100%;
      border-radius: 20px;
    }
    &__info {
      padding-left: 20px;
      width: 50%;
      height: auto;
    }
  }
}

.fed {
  background-color: rgba(0, 255, 13, 0.347);
}
