.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.animals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  background-color: rgba(229, 211, 53, 0.512);
  padding: 20px;
  margin: 10px;
}
