@use '../../styles/breakpoints' as mix;

.content {
  display: flex;
  flex-direction: column;
  @include mix.tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
