body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(141, 213, 141, 0.614);
}

.content {
  width: 80%;
}

.animal--container {
  width: 45%;
  text-decoration: none;
  color: black;
}

.animal {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60%;
}
